<div
	class="container pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"
>
	<h1 class="display-4">User's Listing</h1>
	<p class="lead">
		A quick CRUD example of how to integrate Rails with Angular
	</p>

	<table class="table">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Age</th>
			<th>Address</th>
			<th>Actions</th>
		</tr>

		<tbody>
			<tr>
				<td>1</td>
				<td>test</td>
				<td>100</td>
				<td>over there</td>
				<td colspan="2">
					<button class="btn btn-secondary">
						Edit
					</button>
					|
					<button class="btn btn-danger">
						Delete
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<button class="btn btn-primary float-right mt-4">
		Insert New
	</button>
</div>